# Weather API Configuration
WEATHER_API_KEY= your_api_key_here

# Redis Configuration
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_DB=your_redis_db_here

# Cache Configuration
CACHE_TTL_SECONDS=your_cache_ttl_seconds_here